*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 1440px;
	font-size: 16px;
	background: hsl(210, 46%, 95%);
	font-family: 'Biryani', sans-serif;;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 56.25rem;
	height: 25rem;
}

.article_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 56.25rem;
	height: 20rem;
	border: 1px #FFFFFF;
	background: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
	
}

#main_article {
	display: flex;
	flex-direction: column;
	height: 100%;
	
}

h1 {
	font-size: 1.5rem;
	font-weight: 700;
	color: hsl(217, 19%, 35%);
	margin: 45px 31px 15px;
}

p {
	font-size: 1.12rem;
	font-weight: 500;
	line-height: 1.3;
	color: hsl(214, 17%, 51%);
	margin: 5px 31px 15px;
}

.aside_image {
	background-image: url(../images/drawers.jpg);
	background-size: cover;
	width: 20.4rem;
}

article {
	width: 35rem;
}

#about {
	display: flex;
	align-items: center;
	margin: 5px 31px 15px;
}

#about > img {
	vertical-align: middle;
	float: left;
	border-radius: 50%;
	height: 3em;
}

#about_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-left: 19px;
}

h2 {
	font-size: 0.9rem;
	font-weight: 700;
	color: hsl(217, 19%, 35%);
}

#about span {
	font-size: 0.9rem;
	font-weight: 500;
	color: hsl(214, 17%, 51%);
	margin-top: 5px;
}

#popup_share {
	border-radius: 100%;
	width: 30px;
	height: 30px;
	background-color: hsl(210, 46%, 95%);
	border: none;
	margin-left: 240px;
}

#popup_share img {
	width: 15px;
}

/**************** Mobile Design **********************/
@media (max-width: 768px) {
	main {
		width: 375px;
		height: 100%;
	}

	.article_container {
		width: 365px;
		height: 35.25rem;
		display: flex;
		flex-direction: column;
	}
	
	.aside_image {
    background-image: url(../images/drawers.jpg);
    background-size: cover;
	width: 100%;
    height: 15.7rem;
	}

	h1 {
		font-size: 120%;
		line-height: 1.3;
		padding: 10px;
		margin: 10px 20px 0;
	}

	p {
		font-size: 100%;
		line-height: 1.4;
		padding: 10px;
		margin: 0 20px 0;
	}

	article {
		width: 100%;
		height: 60%;
	}

	#about {
    align-items: center;
    margin-top: 25px;
    margin-left: 30px;
	}

	#about > img {
		height:2.5rem
	}

	#popup_share {
    margin-left: 85px;
	width: 35px;
	height: 35px;
    }

	#popup_share img {
	width: 15px;
	}
}