*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 1440px;
	font-size: 0.8125em;
	background: hsl(210, 46%, 95%);
	font-family: 'Biryani', sans-serif;;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 900px;
	height: 400px;
}

.article_container {
	display: flex;
	flex-direction: row;
	width: 800px;
	height: 300px;
	border: 1px #FFFFFF;
	background: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
}

#main_article {
	margin: 35px 25px 0;
}

h3 {
	font-size: 175%;
	font-weight: 700;
	line-height: 1.3;
	padding: 10px;
	color: hsl(217, 19%, 35%);
}

p {
	padding: 10px;
	font-size: 118%;
	font-weight: 500;
	line-height: 1.5;
	color: hsl(214, 17%, 51%);
}

.aside_image {
	background-image: url(/images/drawers.jpg);
	background-size: cover;
	width: 38%;
}

article {
	position: relative;
	width: 62%;
	justify-content: center;
	align-content: center;
}

#about {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-left: 10px;
}

#about > img {
	vertical-align: middle;
	float: left;
	border-radius: 50%;
	height: 3em;
}

#about_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-left: 15px;
}

h5 {
	font-size: 100%;
	font-weight: 700;
	color: hsl(217, 19%, 35%);
}

#about span {
	font-size: 103%;
	font-weight: 500;
	color: hsl(214, 17%, 51%);
}

#popup_share {
	margin-left: 210px;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	background-color: hsl(210, 46%, 95%);
	border: none;
}

#popup_share img {
	width: 15px;
}

/* Mobile Design */
@media (max-width: 415px) {
	body {
		width: 100%;
		height: 100%;
	}

	main {
		position: absolute;
		width: 400px;
		height: 650px;
	}

	.article_container {
		width: 90%;
		height: 90%;
		display: flex;
		flex-direction: column;
	}
	
	.aside_image {
    background-image: url(/images/drawers.jpg);
    background-size: cover;
	width: 100%;
    height: 40%;
	}

	h3 {
		font-size: 140%;
		line-height: 1.3;
		padding: 10px;
	}

	p {
		font-size: 117%;
		line-height: 1.4;
		padding: 10px;
	}

	article {
		width: 100%;
		height: 60%;
	}

	#about {
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
	}

	#about > img {
		height:3.5em
	}

	#popup_share {
    margin-left: 85px;
	width: 35px;
	height: 35px;
    }

	#popup_share img {
	width: 15px;
	}
}

@media (max-width: 375px) {
	.article_container {
		height: 90%;
	}

	.aside_image {
		height: 41%;
	}

	article {
		height: 59%;
	}

	#about {
		margin-top: 30px;
	}
}